<!DOCTYPE html>
<html>
<head>
	<title>Contact us</title>
	<link rel="stylesheet" type="text/css" href="contact-form.component.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>

	<div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>Contact Us</h2>
				<input type="text" class="field" placeholder="Your Name" [(ngModel)]="name">
				<input type="text" class="field" placeholder="Your Email" [(ngModel)]="email">
				<input type="number" class="field" placeholder="Phone" [(ngModel)]="phoneNumber">
				<textarea placeholder="Message" class="field"[(ngModel)]="message"></textarea>
				<button class="btn" (click)="contactUs()"> Send</button>
			</div>
		</div>
	</div>

</html>