<body>
    <form>
    <table class="table table-hover">
       <tr><th colspan="2"><h3><b> View Airline Details</b></h3></th>
       </tr>
    

 
    
      <tr> <td style="margin-left: 30px;">  <b> Flight Name: </b></td>
           <td style="margin-right: 30px;"><b> {{airline.flightName}}</b></td>
        </tr>
   
    
        <tr><td style="margin-left: 70px;"> <b> source: </b></td>
            <td style="margin-right: 30px;"><b>{{airline.source}}</b></td>
        </tr>
    
    
        <tr><td style="margin-left: 70px;">  <b> Destination: </b> </td>
            <td style="margin-right: 30px;"> <b>{{airline.destination}}</b></td>
        </tr>
    
    
   
        <tr><td style="margin-left: 70px;">  <b> Number of seats: </b></td>
            <td style="margin-right: 30px;"> <b>{{airline.noOfseats}}</b></td>
        </tr>
    
    
        <tr><td style="margin-left: 70px;"> <b> cost: </b></td>
            <td style="margin-right: 30px;"><b> {{airline.cost}}</b></td>
        </tr>
   
    </table>
</form>
</body>
