<div class="app">
    <h1 style="text-align: center;color: darkorange;outline: black;"><b>Rate your experience</b></h1>
    <div class="container">
      <div class="item">
        <label for="0">
        <input class="radio" type="radio" name="feedback" id="0" value="0">
        <span>🤬</span>
      </label>
      </div>
  
      <div class="item">
        <label for="1">
        <input class="radio" type="radio" name="feedback" id="1" value="1">
        <span>🙁</span>
      </label>
      </div>
  
      <div class="item">
        <label for="2">
        <input class="radio" type="radio" name="feedback" id="2" value="2">
        <span>😶</span>
      </label>
      </div>
  
      <div class="item">
        <label for="3">
        <input class="radio" type="radio" name="feedback" id="3" value="3">
        <span>😁</span>
      </label>
      </div>
  
      <div class="item">
        <label for="4">
        <input class="radio" type="radio" name="feedback" id="4" value="4">
        <span>😍</span>
      </label>
      </div>
      <div class="feedback">
        <textarea name="comment" rows="4" cols="40" required placeholder="enter your experience..."></textarea> 
     </div><br>
        
     
    </div>
    <div><button class = "btn btn-outline-primary" type ="submit"><a href="airlines">Send</a></button> </div>   
  </div>