body{
    background-image: url(src\assets\images\airport1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 40px;
    
}
thead{
    color: darkred;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}
h2{
    text-align: center;
    color: black;
    font-family: Georgia,'Times New Roman', Times, serif;
}