<body>
    <div class="list row">
        <div class="col-md-8">
            <div class="input-group mb-3">
                <input
                type="text"
                class="form-control"
                placeholder="Search by flight name"
                [(ngModel)]="flightName"/>
                <div class="input-group-append">
                    <button
                      class="btn-outline-secondary"
                     type="button"
                     (click)="searchByName()">
                      Search
                    </button>
                   
                </div>
    
            </div> <button class="btn btn-outline-primary" type="button" (click)="fetchInternationalFlight()">
                InternationalFlight
            </button>
         <button class="btn btn-outline-primary" type="button" (click)="fetchDomesticFlight()" style="margin-left: 30px;">
            DomesticFlight
         </button>

         <button class="btn btn-outline-primary" type="button" (click)="getAirlines()" style="margin-left: 30px;">
            Back
         </button>
          
        </div>
    </div>
<h2> Airline List</h2>
<table class = "table table-hover ">
    <thead>
        <tr>
            <th> Flight Name</th>
            <th> Source </th>
            <th> Destination</th>
            <th> No. of seats </th>
            <th> cost </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let airline of airlines" >
            <td style="color: rgb(255, 0, 166);"><b> {{ airline.flightName }} </b></td>
            <td style="color: orangered;"><b> {{ airline.source }}</b> </td>
            <td style="color: rgb(255, 0, 166);"><b> {{ airline.destination }}</b> </td>
            <td style="color: orangered;"> <b>{{ airline.noOfseats }}</b> </td>
            <td style="color: rgb(255, 0, 195);"><b> {{ airline.cost }}</b> </td>
            <td style="color: orangered;">
                <button (click) = "updateAirline(airline.flight_id)" class = "btn btn-outline-info" > Update</button>
               <!--<button (click) = "deleteAirline(airline.flight_id)" class = "btn btn-outline-danger" style="margin-left: 10px"> Delete</button>-->
               <button (click) ="confrimDelete(airline)" class="btn btn-outline-danger" style="margin-left:10px">Delete</button>
                <button (click) = "airlineDetails(airline.flight_id)" class = "btn btn-outline-info" style="margin-left: 10px"> View</button>
                <!--<button class=" m-3 btn btn-outline-danger" (click)="removeAllAirlines()">Remove All</button>-->
                <button (click) = "ticketBooking(airline.flight_id)" class = "btn btn-outline-warning" style="margin-left: 10px"> book-a-ticket</button>
            </td>
        </tr>
        <tr *ngIf="airlines.length !==0">
                <button class=" m-3 btn btn-outline-danger" (click)="removeAllAirlines()">Remove All</button>
        </tr>
        <tr scope="row" *ngIf="airlines.length ===0">
           <td colspan="4" class="text-center">No record found</td>
        </tr>
        
    </tbody>
</table>
</body>